.main-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: 32px;
  text-align: center;
  color: #ba005c;
}

.country-search {
  width: 50%;

  form {
    margin: 10px;
    min-width: 150px;
    max-width: 400px;
    width: 100%;
  }

  .form-field {
    width: 100%;
  }

  .country-list {
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    max-width: 400px;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      padding: 10px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: black;
      }
    }

    li:hover {
      background-color: #f0f0f0;
    }
  }
}
